@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);



#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:60%;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}
.popupContainer_status{
	position:absolute;
	width:500px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}
.popupContainer_all{
	position:absolute;
	/*width:auto;*/
        min-width: 400px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}
.popupContainer1{
	position:absolute;
	width:auto;
	/*height: 340px;*/
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}
.popupContainer6{
	position:absolute;
	width:500px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
        border-radius: 3px;
        
}

.pop_cont5{
    background-image: url("https://localhost:8811/images/saddahaq_logo2.png");
    
        background-size: 1100px 390px;
        opacity: 0.1;

}


#modal_trigger {margin:10px auto; width:0px; display:block;}
/*#modal_trigger1 {margin:10px auto; width:0px; display:block;}*/

.btn {padding:10px 30px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:39%; padding-bottom: 10px; }

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}

.popupHeader {background:#FF5252; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader6 {background:#FF5252; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold; border-radius: 2px;}
.popupHeader7 {background:#FF5252; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold; border-radius: 2px;}
.popupHeader_holiday {background:#0c0404; 
                     position:relative; 
                     padding:10px 20px; 
                     border-bottom:1px solid #DDD; 
                     font-weight:bold; 
                     border-radius: 2px;
                     height: 40px;
}
.popupfooter_holiday{
 background:#0c0404; 
                     position:relative; 
                     padding:10px 20px; 
                     border-bottom:0px solid #DDD; 
                     font-weight:bold; 
                     border-radius: 2px;
                     border-bottom-left-radius: 5px;
                     border-bottom-right-radius: 5px;
                     height: 40px;
                     top: 2px;
                     /*width: 782px;*/
                     margin-top: 0px !important;

}

.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:17px; background:#E4E4E2; background-image: url(/images/close.png"); height: 5px; width: 1px;  cursor: pointer; color:#aaa; font-size:16px;}
.popupHeader6 .modal_close {position: absolute; right: 0; top:5px; padding:17px;  background-image: url("/images/close34.png"); height: 2px; width: 2px;  cursor: pointer; color:#aaa; font-size:16px;}
.popupHeader_holiday .modal_close {position: absolute; right: 0; top:5px; padding:17px;  background-image: url("/images/close34.png"); height: 2px; width: 2px;  cursor: pointer; color:white; font-size:20px;}
.popupHeader7 .modal_close {position: absolute; right: 0; top:-3px; padding:17px;  background-image: url("/images/close34.png"); height: 2px; width: 2px;  cursor: pointer; color:#aaa; font-size:16px;}


.popupBody {padding:20px;
padding-right: 00px;
padding-left: 30px;
}
.popupBody6 {padding:20px;
padding-right: 00px;
padding-left: 10px;
}



.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #21B0B6 !important;
	font-weight: normal;
	color: #212121;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #21B0B6 !important ;
	font-weight: normal;
	color: #212121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none !important;
	background: #FDB600 !important;
	font-weight: normal;
	color: #212121;
};
/*.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #FDB600 !important;
	color: #363636;
}*/
